[Unit]
Description=Clumsy Movie Bot
After=multi-user.target

[Service]
User=pi
Type=simple
EnvironmentFile=/home/pi/clumsy-movie-bot/.env
ExecStart=/home/pi/clumsy-movie-bot/venv/bin/python /home/pi/clumsy-movie-bot/clumsy-movie-bot.py
WorkingDirectory=/home/pi/clumsy-movie-bot
StandardOutput=append:/home/pi/clumsy-movie-bot/clumsy.log
StandardError=append:/home/pi/clumsy-movie-bot/clumsy.err

[Install]
WantedBy=multi-user.target
